/* Custom Properties */
:root {
  --clr-bg: hsl(30, 38%, 92%);

  --clr-primary: hsl(158, 36%, 37%);
  --clr-primary-darker: hsl(158, 36%, 23%);

  --clr-neutral-hsl-800: 212, 21%, 14%;

  --clr-neutral: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(228, 12%, 48%);
  --clr-neutral-800: hsl(212, 21%, 14%);

  --default-font: 'Montserrat', sans-serif;
  --secondary-font: 'Fraunces', serif;

  --fs-normal: .75rem;
  --fs-big: 2.5rem;

  --fw-normal: 500;
  --fw-bold: 700;

  --size-300: 1rem;
  --size-600: 2rem;

  --padding-small: 1.5rem;
  --padding-big: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flow>*:not(:last-child) {
  margin-bottom: var(--size-300);
}

@media (min-width: 50em) {
  .flow>*:not(:last-child) {
    margin-bottom: var(--size-600);
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--clr-bg);
  color: var(--clr-neutral-300);
  font-family: var(--default-font);
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: var(--size-300);
}

.product-card {
  display: grid;
  grid-template-rows: 2fr 3fr;
  gap: 1rem;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--clr-neutral);
  max-width: 50em;
  box-shadow: 0.5rem 1rem 1rem hsl(var(--clr-neutral-hsl-800), .2);
}

@media (min-width: 50em) {
  .product-card {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.cover-image {
  background: url("./public/image-product-mobile.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 50em) {
  .cover-image {
    background: url("./public/image-product-desktop.jpg");
    background-position: center;
    background-size: cover;
  }
}

.details {
  padding: var(--padding-small)
}

@media (min-width: 50em) {
  .details {
    padding: var(--padding-big);
  }
}

.brand {
  letter-spacing: 0.875ch;
}

.title {
  color: var(--clr-neutral-800);
  font-family: var(--secondary-font);
  font-weight: var(--fw-bold);
  max-width: 15ch;
}

.description {
  line-height: 1.8;
  max-width: 25ch;
}

@media (min-width: 50em) {
  .title {
    max-width: 10ch;
  }

  .description {
    max-width: 35ch;
  }
}

.price {
  display: flex;
  align-items: center;
  gap: var(--size-300)
}

.price :first-child {
  color: var(--clr-primary);
  font-family: var(--secondary-font);
  font-size: var(--fs-big);
  font-weight: var(--fw-bold);
}

.price :last-child {
  color: var(--clr-neutral-300);
  font-size: var(--fs-normal);
  text-decoration: line-through;
}

button {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: var(--size-300);
  color: var(--clr-neutral);
  background: var(--clr-primary);
  font-weight: var(--fw-bold);
  width: 100%;
  justify-content: center;
  border: 0;
}

button:hover,
button:focus-within {
  background-color: var(--clr-primary-darker);
}